{% extends "::layout.html.twig" %}

{% block title %}
	Adresses - {{ parent() }}
{% endblock %}

{% block body %}
	<h1>Adresses</h1>

	<hr>

	{% block marsupilamiaddresses_body %}
	{% endblock %}

{% endblock %}

